{% extends "index.html" %} {% block title %}Admin Page{% endblock %} {% block
content %}
<div class="container-flex">
  <div class="row mt-4">
    <div
      class="col-lg-5 col-md-6 m-auto card p-4"
      style="background-color: #4e4e50"
    >
      <form action="{{url_for('addItem')}}" method="post" class="card-body">
        {{ form.csrf_token }}
        <div class="form-group mb-3">
          {{ form.name(class_="form-control",placeholder="Name")}}
        </div>
        <div class="form-group mb-3">
          {{ form.price(class_="form-control",placeholder="Price")}}
        </div>
        <div class="form-group mb-3">
          {{ form.description(class_="form-control",placeholder="Description")}}
        </div>
        <div class="form-group mb-3">
          {{ form.image(class_="form-control")}}
        </div>
        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn btn-block btn-primary mb-3 btn-info"
            name="button"
            value="newitem"
          >
            Create
          </button>
        </div>
      </form>
      <form method="post">
        {{ form.csrf_token }}
        <select name="attribute" class="form-select mb-3" multiple>
          {% for attribute in attlist %}
          <option value="{{ attribute }}" name="attribute">
            {{ attribute[0] }}
          </option>
          {% endfor %}
        </select>
        <button
          type="submit"
          class="btn btn-block btn-primary mb-3 btn-info"
          name="button"
          value="selectattribute"
        >
          Select Attribute
        </button>
      </form>
      <form method="post" autocomplete="off">
        {{ form.csrf_token }}
        <ul style="color: lightgrey">
          {% for attribute in selectedattlist%}
          <li
            name="list"
            id="{{selectedattlist.index(attribute)}}"
            value="{{attributevaluelist}}"
          >
            {{attribute}}
            {{attvalform.attributevalue(class_="form-control",autocomplete="off")}}
          </li>
          {% endfor %}
        </ul>
        <button
          type="submit"
          class="btn btn-block btn-primary mb-3 btn-info"
          name="button"
          value="createvalue"
        >
          Set Value
        </button>
      </form>
      <div>
        <ul style="color: lightgrey">
          {% for value in attributevalue%}
          <li>{{selectedattlist[attributevalue.index(value)]}} = {{value}}</li>
          {% endfor %}
        </ul>
      </div>
      <form method="post">
        {{ form.csrf_token }} {{
        attform.attributename(class_="form-control",placeholder="New Attribute")
        }}
        <button
          type="submit"
          class="btn btn-block btn-primary mt-3 btn-info"
          name="button"
          value="createattribute"
        >
          Create Attribute
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
