{% extends "index.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<!-- Put the content for the <body> here -->
<!-- todo, connect route with info to be displayed -->
<div class="container-fluid">
  <div class="d-flex flex-row flex-wrap p-2 justify-content-center">
    {% for num in messages %}
    <div class="card card-block col-sm-3 mt-1 ms-1">
      <div class="card-body mt">
        <h5 class="card-title">asdas</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">asdas</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
