{% extends "index.html" %} {% block title %}Admin Page{% endblock %} {% block
content %}

{% for order in orders %}
    <div style="float:left;color:white;margin:7px;padding:7px;border-style:solid;border-color:lightblue;border-radius:15px;">
        <p style="background-color:light-blue;border-style:solid;border-color:lightblue;border-radius:15px;margin:7px;padding:7px;border-width:1px;">user {{order[2]}}</p>
        <p style="background-color:light-blue;border-style:solid;border-color:lightblue;border-radius:15px;margin:7px;padding:7px;border-width:1px;">date {{order[1]}}</p>
        <p style="background-color:light-blue;border-style:solid;border-color:lightblue;border-radius:15px;margin:7px;padding:7px;border-width:1px;">sum {{order[3]}}</p>
        {% for item in items %}
        <div class="card card-block col-sm-3 mt-1 ms-1 border border-dark" style="witdh:400px;float:left">
            <img
                    class="card-img-top"
                    src="https://s.fotorama.io/1.jpg"
                    alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{url_for('item', id=item.0)}}">{{ item.1 }}</a>
                </h5>
                <p class="card-text"><small class="text-muted">{{ item.0 }}</small></p>
                <p class="card-text">{{ item.5 }}</p>
            </div>
            <div
                    class="card-body d-inline-flex justify-content-between align-items-center"
            >
            </div>
        </div>
        {% endfor %}
        <form action="{{url_for('confirmOrder', orderid=order[0])}}" method="post">
            <button  type="submit" value="{{order[0]}}">
                Bekräfta order
            </button>
        </form>
    </div>
{% endfor %}
{% endblock %}